#root{
    margin: 0;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
    font-family: 'Roboto';

}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px black solid; */
    background-color: rgb(250, 251, 251);
    padding: 10px;
    box-shadow: 0 0 5px gray;
}
.app-logo{
    width: 80px;
}

.nav-items ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.nav-items ul li{
    padding: 15px;
}

.restro-card{
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    /* background-color: rgb(235, 235, 235); */
    margin: 15px;
    width: 15vw;
    border-radius: 12px;
    box-shadow: 0 0 5px gray;
    
}

.restro-card:hover{
    transition-behavior: ease-in ;
    transform: scale(0.95);
    box-shadow: 0 0 10px gray;
}
.rescard-img{
    width: 100%;
    height: 150px;
    background-size: contain;
    background-position: center;
    border-radius: 12px 12px 0 0;

}
.restro-container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5vw;
    /* text-align: center; */
    /* justify-content: center; */
}

.filter-btn{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;

    padding-left: 5vw;
}
.shimmer-card{
    /* background-color: rgb(235, 235, 235); */
    margin: 15px;
    width: 15vw;
    /* width: 150px; */
    height: 25vw;
    background-color: #f0f0f0;
    border-radius: 12px;
}
.login-btn{
    width: 100px;
    height: 40px;
    cursor: pointer;
}
.search{
    gap: 2vw;
    display: flex;
    justify-content: space-around;
}
.filter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.whatsonmind-container{
    display: flex;
    flex-direction: column;
}
.items-list{
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 1%;
    text-align: center;

    /* flex-wrap: wrap; */
    display: flex;
    
}
.item-img{
    width: 150px;
    cursor: pointer;
}
.whatonmind-text{
    padding-left: 5vw;
    font-family: 'Courier New';
}

a:link { 
    text-decoration: none; 
  } 
a:visited { 
    text-decoration: none; 
  } 
a:hover { 
    text-decoration: none; 
  } 
a:active { 
    text-decoration: none; 
  }